# Ignore specified folders and files.
Build/
bin/
obj/
temp/
outputs/
*.log
*.exe
.vscode/*
# Don't ignore specified folders and files.
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/c_cpp_properties.json
